.favorite-btn {
  position: absolute;
  top: 20px;
  right: 15px;
}

.pet-modal-btn {
  background-color: #e9d8fd !important;
  width: 100%;
  padding: 10px !important;
  border-radius: 5px !important;
  border: none !important;
  margin-top: 15px;
  color: black !important;
  font-weight: bold !important;
}

.pet-modal-btn:hover {
  background-color: #b794f4 !important;
  color: white !important;
}

.pet-modal-btn:focus {
  box-shadow: none !important;
}

img {
  width: 346px;
  height: 346px;
  border-radius: 20px 20px 0px 0px;
}

.petcard {
  margin: 20px;
  border-radius: 20px !important;
  box-shadow: 0 8px 12px 0 rgba(78, 78, 78, 0.2),
    0 6px 20px 0 rgba(75, 75, 75, 0.19);
}

.petcard-body {
  padding: 0px !important;
}

.petcard-info {
  text-align: left;
  padding: 28px;
  margin-bottom: 10px;
  position: relative;
}

.petcard-info h4 {
  font-weight: bold;
}

.pet-details {
  color: slategray;
}

.pet-modal {
  margin-bottom: 10px;
}

button.close {
  border: none;
  background-color: white;
  font-size: x-large;
}
