.favorite-btn {
  float: right;
}

img {
  width: 346px;
  height: 346px;
  border-radius: 20px 20px 0px 0px;
}

.petcard {
  margin: 20px;
  border-radius: 20px 20px 0px 0px !important;
}

.petcard-body {
  padding: 0px !important;
}

.petcard-info {
  text-align: left;
  padding: 20px;
}

.pet-details-link {
  background-color: darkslateblue;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
}

.pet-details-link:hover {
  color: black;
}
