.username-label {
  margin-bottom: 30px;
}

.profile-btn {
  margin-top: 20px;
}

.label {
  float: left;
}

#firstName,
#lastName,
#email {
  margin-bottom: 20px;
}

form {
  width: 550px;
  height: 50px;
  margin: auto;
  position: relative;
}

h2 {
  margin-bottom: 5px !important;
}
