form {
  width: 550px;
  height: 30px;
  margin: auto;
  position: relative;
}

input:focus {
  outline: none;
}

.search-btn {
  font-weight: bold !important;
  background-color: #805ad5 !important;
}

.search-btn:hover {
  background-color: #553c9a !important;
}
