.homepage-img {
  margin-top: 20px;
  border-radius: 50%;
}

.homepage-container {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 90vh;
}

.text-container {
  max-width: 450px;
  padding: 15px;
}

.header-text {
  color: #553c9a;
  font-weight: bold;
}

.sub-text {
  color: slategray;
}

.home-btn {
  background-color: #805ad5 !important;
  padding: 10px !important;
  border-radius: 5px !important;
  border: none !important;
  margin-top: 15px;
  color: white !important;
  font-weight: bold !important;
}

.home-btn:hover {
  background-color: #553c9a !important;
  color: white !important;
}

.home-btn a {
  color: white !important;
  text-decoration: none;
}
