.nav-container {
  border-bottom: 2px solid lightgray;
  padding: 0.5rem 1rem;
  justify-content: space-between !important;
  margin-bottom: 20px;
}

.nav-links {
  display: inline-flex;
  font-weight: 600;
}

a {
  color: black !important;
}

.selected {
  color: #805ad5 !important;
}

.brand {
  color: #553c9a !important;
}
